<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <p>
                <label for="title">Title</label>
                <input type="text" name="title" value="{{review.title}}">
            </p>

            <p>
                <label for="movieTitle">Potato Title</label>
                <input type="text" name="movieTitle" value="{{review.movieTitle}}">
            </p>

            <p>
                <label for="rating">Rating</label>
                <input type="number" name="rating" value="{{review.rating}}">
            </p>

            <p>
                <label for="description">Movie Description</label>
                <textarea name="description" rows="10"></textarea>
            </p>

            <button type="submit">Save Review</button>
            <a href="/">Cancel</a>
        </div>
    </div>
</div>