<legend>New Review</legend>

<form method="POST" action="/reviews">
    <p>
        <label for="title">Title</label>
        <input type="text" name="title" />
    </p>

    <p>
        <button type="submit">Save Review</button>
    </p>

</form>